<%- layout('layouts/layout') %>

<%- include('./componets/hero') %>
<div bis_skin_checked="1" class="style-79">
    <div class="style-80" bis_skin_checked="1">
        <%- include('./componets/service') %>
        <%- include('./componets/feature') %>
        <%- include('./componets/weLoved') %>
        <%- include('./componets/announcement') %>
        <%- include('./componets/faq') %>
    </div>
</div>